apipkg==1.5
Appium-Python-Client==0.28
asn1crypto==0.24.0
atomicwrites==1.2.1
attrs==18.2.0
bcrypt==3.1.4
blinker==1.4
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
Click==7.0
colorama==0.3.9
coverage==4.5.1
cryptography==2.3.1
execnet==1.5.0
Faker==0.9.1
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
idna==2.7
imageio==2.4.1
itsdangerous==0.24
Jinja2==2.10
keyboard==0.13.2
MarkupSafe==1.0
more-itertools==4.3.0
mouse==0.7.0
numpy==1.15.2
passlib==1.7.1
Pillow==5.3.0
pluggy==0.7.1
py==1.6.0
pycparser==2.19
pytest==3.8.2
pytest-cov==2.6.0
pytest-forked==0.2
pytest-ordering==0.5
pytest-xdist==1.23.2
python-dateutil==2.7.3
PyYAML==3.13
qaviton==0.0.7
requests==2.19.1
selenium==3.14.1
six==1.11.0
SQLAlchemy==1.2.12
text-unidecode==1.2
threaders==0.2.12
urllib3==1.23
Werkzeug==0.14.1
WTForms==2.2.1
