{% extends "layout.html" %}
{% block content %}
  <h3>In-Block-Start: This is a block template nesting inside the layout</h3>
  <br>
  <!--
    the `extends` informs the templating engine that this template
    "extends" another template, layout.html. This establishes the link between the templates.
  -->
  <p>
    It's worth noting that Jinja only supports a few control structures -
    if-statements & for-loops are the two primary structures.
    The syntax is similar to Python, differing in that no colon is required
    and that termination of the block is done using an endif or endfor
    instead of by whitespace. You can also complete the logic within your controller
    or views and then pass each value to the template using the template tags.
    However, it is much easier to perform such logic within the templates themselves.
  </p>
  <p>string variable: {{string_variable}}</p>
  <p>list index 0 value: {{list_variable[0]}}</p>
  <p>Loop through the list:</p>
  <ul>
    {% for n in list_variable %}
    <li>{{n}}</li>
    {% endfor %}
  </ul>
  <br>
  <h4>Inheritance</h4>
  <p>
    Templates usually take advantage of <a href="http://jinja.pocoo.org/docs/templates/#template-inheritance">inheritance</a>,
    which includes a single base template that defines the basic structure
    of all subsequent child templates.
    You use the tags `extends` and `block` to implement inheritance.

    The use case for this is simple: as your application grows,
    and you continue adding new templates, you will need to keep common code
    (like a HTML navigation bar, Javascript libraries, CSS stylesheets, and so forth) in sync,
    which can be a lot of work.
    Using inheritance, we can move those common pieces to a parent template
    so that we can create or edit such code one and all child templates will inherent such code.
  </p>

  <h3>In-Block-End: This is a block template nesting inside the layout</h3>
  {% block footer %}
  {{super()}}
  {% endblock %}
{% endblock %}